<mat-card>
  <!-- <mat-form-field>
    <input  matInput [matDatepicker]="picker" placeholder="Choose a date" [value]="date.value"  [formControl]="sDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
  <mat-card-content class="form-container">
    <mat-form-field>
      <input type="date" matInput placeholder="choose a date" [(ngModel)]="sDate">
    </mat-form-field>
    <mat-form-field>
      <input type="time" matInput placeholder="Choose Starting Time" [(ngModel)]="sStartTime">
    </mat-form-field>
    <mat-form-field>
      <input type="time" matInput placeholder="Choose End Time" [(ngModel)]="sEndTime">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Choose Time Interval" [(ngModel)]="sTimeInterval">
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="calculate()">Create Slot</button>
    <button mat-raised-button color="primary" (click)="cancel()">Close</button>
  </mat-card-actions>

</mat-card>




<!-- Date : {{sDate}} Start Time: {{sStartTime}} End Time : {{sEndTime}} Time Interval : {{sTimeInterval}} -->
