<h2>You are an Admin!</h2>
<p>Only users who have a <code>scope</code> of <code>write:messages</code> in their <code>access_token</code> can see this area.</p>

<hr>

<h3>Call an Admin endpoint</h3>

<button class="btn btn-primary"
        (click)="adminPing()">
    Post a Message
</button>

<h2>{{ message }}</h2>