<br>
<br>
<div class="row">
  <div class="col text-center ">
    <mat-card>
      <mat-card-title>
        Total Doctor
      </mat-card-title>
      <mat-card-content>
        <h1>{{totalDoctor | async}}</h1>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col text-center ">
    <mat-card>
      <mat-card-title>
        Total Patient
      </mat-card-title>
      <mat-card-content>
        <h1>{{totalPatient | async}}</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="classWithPad">
      <app-patient-registration></app-patient-registration>
    </div>
  </div>
  <div class="col-md-6">
    <div class="classWithPad">
      <app-doctor-registration></app-doctor-registration>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    <div class="classWithPad">
      <app-patient-gender></app-patient-gender>
    </div>

  </div>
  <div class="col-md-4">
    <div class="classWithPad">
      <app-patient-sexual-orientation></app-patient-sexual-orientation>
    </div>

  </div>
  <div class="col-md-4">
    <div class="classWithPad">
      <app-patient-city></app-patient-city>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="classWithPad">
      <app-doctor-city></app-doctor-city>
    </div>

  </div>
  <div class="col-md-4">
    <div class="classWithPad">
      <app-doctor-sexual-orientation></app-doctor-sexual-orientation>
    </div>

  </div>
  <div class="col-md-4">
    <div class="classWithPad">
      <app-doctor-gender></app-doctor-gender>
    </div>

  </div>
</div>
