<br>
<div class="row">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="spacer"></span>
        <button mat-raised-button color="accent" routerLink="/patient/details" [ngStyle] ="{'margin':'0.5%'}"> <mat-icon>my_library_books</mat-icon>Profile </button>

      <button mat-raised-button color="accent" routerLink="/patient/accessRequest" [ngStyle] ="{'margin':'0.5%'}">
        <mat-icon>people</mat-icon> Access Request</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<br>
<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Booking Date</th>
                <th scope="col">Booking Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ap of appointments | async ; let i=index;">
                <th scope="row">1</th>
                <td>{{ap?.doctorId}}</td>
                <td>{{ap?.firstName}}</td>
                <td>{{ap?.lastName}}</td>
                <td>{{ap?.bookingDate}}</td>
                <td>{{ap?.bookingTime}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
