<mat-card>
  <div class="row justify-content-md-center">
    <form class="example-form" [formGroup]="searchForm">
      <mat-form-field class="example-full-width">
        <input type="search" matInput placeholder="Search" formControlName="search">
      </mat-form-field>
    </form>

  </div>
</mat-card>

<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Dob</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of patients | async | paginate: { itemsPerPage: 10, currentPage: p }">
                <th scope="row">{{i}}</th>
                <td>{{p?.id}}</td>
                <td>{{p?.firstName}}</td>
                <td>{{p?.lastName}}</td>
                <td>{{p?.dob | date}}</td>
                <td>{{p?.email}}</td>
                <td> <button type="button" class="btn btn-primary btn-sm" (click)="delete(p.userId)">Delete</button> </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </mat-card-content>
    </mat-card>
  </div>
</div>
