
<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-raised-button color="accent" *ngIf="patient" (click)="addPatientProfile()">Add Profile</button>
            <button mat-raised-button color="accent" *ngIf="!patient" (click)="editPatientProfile() ">Edit Profile</button>
        </mat-toolbar-row>
    </mat-toolbar><br><br>
    <mat-card *ngIf="!profile && !loader">
        No Records Found
    </mat-card>
    <app-loading-folding-cube *ngIf="loader" ></app-loading-folding-cube>    
    <mat-card *ngIf="profile" >
        <mat-tab-group >
            <mat-tab label="Personal Information">
                <h3> First Name : {{profile?.firstName}}</h3>
                <!-- <h3> User Id : {{profile?.userId}}</h3> -->
                <h3>Last Name: {{profile?.lastName}}</h3>
                <h3> Date of birth: {{profile?.dob}}</h3>

                <div *ngFor="let num of profile?.phoneNumber; let i =index;">
                    <h2 *ngIf="num"> Phone Number : {{ i+1}}</h2>
                    <h3 *ngIf="num.type"> Type : {{num.type}}</h3>
                    <h3 *ngIf="num.type"> Number : {{num.number }}</h3>
                </div>

                <div *ngFor="let num of profile?.addresses ; let i=index;">
                    <h2> Address : {{i+1}}</h2>
                    <h4 *ngIf="num?.addressType"> Address Type : {{num?.addressType}}</h4>
                    <h4 *ngIf="num?.street1"> Address Line 1: {{num?.street1}}</h4>
                    <h4 *ngIf="num?.street2">Address Line 2 : {{num?.street2 }}</h4>

                    <h4 *ngIf="num?.city">City : {{num?.city }}</h4>
                    <h4 *ngIf="num?.state"> District : {{num?.state}}</h4>
                    <h4 *ngIf="num?.postal"> Postal : {{num?.postal }}</h4>
                </div>
            </mat-tab>
            <mat-tab label="Medical Profile">
                <h3> Sexual orientation: {{profile?.sexualOrientation}} </h3>
                <h3> Living Status: {{profile?.livingStatus}} </h3>
                <h3>Alcohol : {{profile?.alcohol}}</h3>
                <h3> Social History : {{profile?.socialHistory}}</h3>

            </mat-tab>
            <mat-tab label="Prescription">
                <div *ngFor="let pres of profile?.prescription ">
                    Prescription :
                    <div *ngFor="let med of pres?.medicines">
                        Name : {{med?.name}} Description {{med?.description}}

                    </div>
                    <br /> Comments: {{pres?.comments}}

                </div>
            </mat-tab>
            <mat-tab label="Doctor">

            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <!-- Nav tabs
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Personal Information</a>
        </li>
        <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Medical profile</a>
        </li>
        <li role="presentation">
            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Prescription</a>
        </li>
        <li role="presentation">
            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Doctors</a>
        </li>
    </ul>

    <!Tab panes -->
    <!-- <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            First Name : {{profile?.firstName}}
            <br /> User Id : {{profile?.userId}}
            <br /> Last Name: {{profile?.lastName}}
            <br /> Date of birth: {{profile?.dob}}
            <br/>
            <div *ngFor="let num of profile?.phoneNumber">
                Phone Number :
                <ul>
                    <li>{{num.type}}</li>
                    <li>{{num.number }}</li>
                </ul>
            </div>

            <div *ngFor="let num of profile?.addresses ">
                Address :
                <ul>
                    <li>{{num?.address1}}</li>
                    <li>{{num?.address2 }}</li>
                    <li>{{num?.houseNumber}}</li>
                    <li>{{num?.city }}</li>
                    <li>{{num?.district}}</li>
                    <li>{{num?.postal }}</li>
                </ul>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            Sexual orientation: {{profile?.sexualOrientation}}
            <br /> Living Status: {{profile?.livingStatus}}
            <br /> Alcohol : {{profile?.alcohol}}
            <br /> Social History : {{profile?.socialHistory}}
            <br />
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
            <div *ngFor="let pres of profile?.prescription ">
                Prescription :
                <div *ngFor="let med of pres?.medicines">
                    Name : {{med?.name}} Description {{med?.description}}
                </div>
                <br /> Comments: {{pres?.comments}}

            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">

        </div>
    </div> -->

    <!-- </div> -->

    <br>
    <br>
    <br>
    <div class="panel panel-default profile-area">
        <div class="panel-heading">
            <h3>Profile</h3>
        </div>
        <div class="panel-body">

            <img src="{{profile?.firstName}}" class="avatar" alt="avatar">
            <div>
                <label>
                    <i class="glyphicon glyphicon-user"></i> Nickname</label>
                <h3 class="nickname">{{ profile?.firstName }}</h3>
            </div>
            <pre class="full-profile">{{ profile | json }}</pre>
        </div>
    </div>


    <button *ngIf="!profile" type="button" class="btn btn-primary" (click)="onClickAdd()">Add New</button>