<br>
<div class="row">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="spacer"></span>
        <button mat-raised-button color="accent" routerLink="/patient/details" [ngStyle] ="{'margin':'0.5%'}"> <mat-icon>my_library_books</mat-icon> Profile</button>

        <button mat-raised-button color="accent" routerLink="/patient/appointments" [ngStyle] ="{'margin':'0.5%'}">
          <mat-icon>schedule</mat-icon> Appointments</button>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <br>
<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let re of requests?.requests; let i=index; ">
                <th scope="row">{{i}}</th>
                <td> {{re?.requestId}}</td>
                <td> {{re?.firstName}}</td>

                <td> {{re?.lastName}}</td>
                <td> {{re?.authorization}}</td>
                <td *ngIf="re?.authorization">
                  <button mat-raised-button color="primary" (click)="unauthorize(i,re?.requestId)">UnAuthorize</button>
                </td>
                <td *ngIf="!re?.authorization">
                  <button mat-raised-button color="primary" (click)="authorize(i,re?.requestId,re?.firstName,re?.lastName)">Authorize</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
