<br />
<br />
<mat-card>
  <mat-horizontal-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstFormGroup">
      <mat-card>
        <form novalidate [formGroup]="customerForm">
          <ng-template matStepLabel>Personal Information</ng-template>
          <div class="form-container">
            <mat-form-field>
              <input matInput placeholder="Enter title" [matAutocomplete]="auto" formControlName="title">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="customerForm.controls.title.invalid &&  customerForm.controls.title.touched ">Please Enter title </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder=" Enter First Name" formControlName="firstName">
              <mat-error *ngIf="customerForm.controls.firstName.invalid &&  customerForm.controls.firstName.touched ">Please Enter First Name </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter Last Name" formControlName="lastName">
              <mat-error *ngIf="customerForm.controls.lastName.invalid &&  customerForm.controls.lastName.touched ">Please Enter Last Name</mat-error>
            </mat-form-field>
            <!-- <mat-form-field> -->
            <mat-radio-group class="radio-group" formControlName="gender">
              <h4> Gender : </h4>
              <mat-radio-button class="radio-button" *ngFor="let ge of Gender" [value]="ge">
                {{ge}}
              </mat-radio-button>
              <mat-error *ngIf="customerForm.controls.gender.invalid &&  customerForm.controls.gender.touched ">Please Enter Gender </mat-error>
            </mat-radio-group>
            <!-- </mat-form-field> -->
            <mat-form-field>
              <input type="date" matInput placeholder="Enter Date of birth" formControlName="dob">
              <mat-error *ngIf="customerForm.controls.dob.invalid &&  customerForm.controls.dob.touched ">Please Enter Date of birth</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Enter Occupation" formControlName="occupation">
              <mat-error *ngIf="customerForm.controls.occupation.invalid &&  customerForm.controls.occupation.touched ">Please Enter Occupation </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input type="text" matInput placeholder="Enter Sexual Orientation" [matAutocomplete]="sexualOrientation" formControlName="sexualOrientation">
              <mat-autocomplete #sexualOrientation="matAutocomplete">
                <mat-option *ngFor="let option of genderFilteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="customerForm.controls.sexualOrientation.invalid &&  customerForm.controls.sexualOrientation.touched ">Please Enter title </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Enter Living Status" formControlName="livingStatus">
              <mat-error *ngIf="customerForm.controls.livingStatus.invalid &&  customerForm.controls.livingStatus.touched ">Please Enter title </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Enter Social History" formControlName="socialHistory">
              <mat-error *ngIf="customerForm.controls.socialHistory.invalid &&  customerForm.controls.socialHistory.touched ">Please Enter title </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input type="text" matInput placeholder="Enter Email" formControlName="email">
              <mat-error *ngIf="customerForm.controls.email.invalid &&  customerForm.controls.email.touched ">Email Address is not valid </mat-error>
            </mat-form-field>

          </div>
        </form>
        <div>

          <button mat-raised-button color="primary" matStepperNext>
            Next
            <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </mat-card>
    </mat-step>
    <mat-step [stepControl]="AddressFormGroup">
      <ng-template matStepLabel>Address </ng-template>
      <button mat-raised-button color="primary" type="button" (click)="addAddress()">
        Add Another Address
      </button>
      <br>

      <form novalidate [formGroup]="customerForm">
        <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i=index">
          <mat-card [formGroupName]="i">
            <div class="form-container">
              <div class="form-group">
                <label class="col-md-2 control-label" attr.for="{{'addressType1Id' + i}}">Address Type</label>
                <div class="col-md-8">
                  <label class="radio-inline">
                    <input type="radio" id="{{'addressType1Id' + i}}" value="home" formControlName="addressType">Home
                  </label>
                  <label class="radio-inline">
                    <input type="radio" id="{{'addressType1Id' + i}}" value="work" formControlName="addressType">Work
                  </label>
                  <label class="radio-inline">
                    <input type="radio" id="{{'addressType1Id' + i}}" value="other" formControlName="addressType">Other
                  </label>
                </div>
              </div>
              <mat-form-field>
                <input matInput type="text" id="{{'street1Id' + i}}" placeholder="Street address" formControlName="street1">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" id="{{'street2Id' + i}}" placeholder="Street address (second line)" formControlName="street2">
              </mat-form-field>

              <mat-form-field>
                <input matInput type="text" id="{{'cityId' + i}}" placeholder="City" formControlName="city">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" id="{{'stateId' + i}}" placeholder="State" formControlName="state">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" id="{{'postalId' + i}}" placeholder="Zip Code" formControlName="postal">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" id="{{'countryId' + i}}" placeholder="Country Name" formControlName="country">
              </mat-form-field>
            </div>
            <button mat-raised-button color="accent" type="button" (click)="removeAddress(i)">
              Remove
            </button>
          </mat-card>
        </div>
      </form>
      <div style="padding : 2%; margin: 2%">
        <button mat-raised-button color="primary" matStepperPrevious>
          <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>
        <button mat-raised-button color="primary" matStepperNext>
          Next
          <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form novalidate [formGroup]="customerForm">
        <ng-template matStepLabel>Contacts </ng-template>

        <button mat-raised-button color="primary" type="button" (click)="addPhoneNumber()">
          Add Another Phone number
        </button>


        <div formArrayName="phoneNumbers" *ngFor="let pn of phoneNumbers.controls; let i=index">
          <mat-card [formGroupName]="i">
            <div class="form-container">
              <div class="form-group">
                <label class="col-md-2 control-label" attr.for="{{'phoneNumberstypeid' + i}}">Number Type</label>
                <div class="col-md-8">
                  <label class="radio-inline">
                    <input type="radio" id="{{'phoneNumberstypeid' + i}}" value="phone" formControlName="type">Phone
                  </label>
                  <label class="radio-inline">
                    <input type="radio" id="{{'phoneNumberstypeid' + i}}" value="mobile" formControlName="type">Mobile
                  </label>
                </div>
              </div>
              <mat-form-field>
                <input matInput id="{{'numberid' + i}}" placeholder="Enter your contact number" formControlName="number">
              </mat-form-field>
            </div>
            <button mat-raised-button color="accent" type="button" (click)="removePhoneNumber(i)">
              Remove
            </button>
          </mat-card>
        </div>

      </form>
      <div style="padding : 2%; margin: 2%">
        <button mat-raised-button color="primary" matStepperPrevious>
          <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>
        <button mat-raised-button color="primary" matStepperNext>
          Next
          <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>

    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">

      <ng-template matStepLabel>Medical Information </ng-template>
      <button mat-raised-button color="primary" type="button" (click)="addAlergy()">
        Add more
      </button>
      <form novalidate [formGroup]="customerForm">
        <div formArrayName="alergys" *ngFor="let al of alergys.controls; let i=index">

          <mat-card [formGroupName]="i">
            <div class="form-container">
              <mat-form-field>
                <input matInput type="text" id="{{'typeid' + i}}" placeholder="Enter alergys type" formControlName="type">
              </mat-form-field>
              <mat-form-field>
                <textarea matInput id="{{'descriptionId' + i}}" placeholder="Enter description" formControlName="description"> </textarea>
              </mat-form-field>
            </div>
            <button mat-raised-button color="accent" type="button" (click)="removeAlergy(i)">
              Remove
            </button>
          </mat-card>

        </div>

      </form>


      <div style="padding : 2%; margin: 2%">
        <button mat-raised-button color="primary" matStepperPrevious>
          <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>
        <button mat-raised-button color="primary" matStepperNext>
          Next
          <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h1> You are now done!</h1>
      <div style="padding : 2%; margin: 2%">
        <button mat-raised-button color="primary" matStepperPrevious>
          <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>

        <button mat-raised-button color="accent" class="btn btn-primary" (click)="save()">
          <mat-icon mat-list-icon>save</mat-icon>
          Submit
        </button>

      </div>
    </mat-step>

  </mat-horizontal-stepper>
  <!-- <br>Value: {{ customerForm.value | json }} -->
</mat-card>
