<mat-card>
  <form [formGroup]="prescriptionForm">
    <mat-card-header>
      <button mat-raised-button color="primary" type="button" (click)="addMedicine()">
        Add More Medicine
      </button>
    </mat-card-header>
    <mat-card-content>

      <div formArrayName="medicines" *ngFor="let pn of medicines.controls; let i=index">
        <mat-card [formGroupName]="i">


          <mat-form-field>
            <input matInput placeholder="Enter Medicine Name" [matAutocomplete]="auto" formControlName="name">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option?.name">
                {{ option?.name }} | {{ option?.gname}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Description" formControlName="description">
          </mat-form-field>


          <button mat-raised-button color="accent" type="button" (click)="removeMedicine(i)">Remove </button>
        </mat-card>
      </div>
      <br>

      <mat-form-field>
        <textarea matInput placeholder="Enter Comment" formControlName="comments"></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="accent" class="btn btn-primary" (click)="save()" [disabled]="!prescriptionForm.valid">
        <mat-icon mat-list-icon>save</mat-icon>
        Submit
      </button>
    </mat-card-actions>

  </form>

</mat-card>
