
<table style="width: 100%" cellspacing="0"><tr>
    <td>
      <mat-form-field style="width: 100%" floatLabel="never">
        <input matInput placeholder="Search Field"  [(ngModel)]="searchParam" [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>
    </td>
    <td>
        <button type="button" mat-raised-button (click)="search()"> Search</button>
        <button type="button" mat-raised-button (click)="reload()"> Reload</button>
    </td>
  </tr></table>

<div class="example-container mat-elevation-z8">
  <div class="example-header">

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

  </div>
  <mat-table #table [dataSource]="dataSource" matSort class="animate">
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First Name </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client.firstName }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client.lastName }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client.email }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client.dob | date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let client">
        <button mat-raised-button color="primary" (click)="sendRequest(client?.id, client?.firstName, client?.lastName)">
          <mat-icon mat-list-icon> open_in_new</mat-icon>
          Send Request
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>

  </mat-table>
  <mat-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 20, 40, 80,100 ]">
  </mat-paginator>
</div>
