<div class="row">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="spacer"></div>

      <button mat-raised-button color="accent" routerLink="/doctor/details" style="margin:2px;">
        <mat-icon>dashboard</mat-icon> Medical Profile</button>
      <button mat-raised-button color="accent" routerLink="/doctor/access-requests" style="margin:2px;">
        <mat-icon>view_column</mat-icon> Access Request List</button>
      <button mat-raised-button color="accent" style="margin:2px;" routerLink="/doctor/booking">
        <mat-icon>contacts</mat-icon> Appointments</button>
      <button mat-raised-button color="accent" style="margin:2px;" routerLink="/doctor/view-schedual">
        <mat-icon>contacts</mat-icon> View Schedual</button>
    </mat-toolbar-row>
  </mat-toolbar>

</div>
<div class="row">
  <div class="col-8">
    <app-slot-analytics></app-slot-analytics>
  </div>

  <div class="col-4">
    <br>
    <br>
    <mat-card class="text-center">
      <mat-card-title>
        Total Patient
      </mat-card-title>
      <mat-card-content>
        <h1> {{displayCount}}</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>
