:host {
  display: block;
  margin: auto;
  width: 100%;
  height: 700px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.radio-group {
  display: inline-flex;
  flex-direction: row;
}

.radio-button {
  margin:10 px;
  padding-left: 10px;
}


:host {
  display: block;
  margin: auto;
  width: 100%;
  height: 700px;
}






