<br>
<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" *ngIf="!profile" (click)="addPatientProfile()" [ngStyle]="{'margin':'0.5%'}">
        <mat-icon> person_add </mat-icon> Add Profile</button>
      <button mat-raised-button color="accent" *ngIf="profile" (click)="editPatientProfile(profile.userId) " [ngStyle]="{'margin':'0.5%'}">
        <mat-icon>mode_edit</mat-icon> Edit Profile</button>
      <button mat-raised-button color="accent" routerLink="/patient/appointments" [ngStyle]="{'margin':'0.5%'}">
        <mat-icon>schedule</mat-icon> Appointments</button>
      <button mat-raised-button color="accent" routerLink="/patient/accessRequest" [ngStyle]="{'margin':'0.5%'}">
        <mat-icon>people</mat-icon> Access Request</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
  <br>
  <mat-card *ngIf="!profile">
    No Records Found
  </mat-card>
  <app-loading-folding-cube *ngIf="loader"></app-loading-folding-cube>
  <mat-card *ngIf="profile">
    <!-- <mat-tab-group> -->
    <!-- <mat-tab label="Personal Information"> -->
    <div class="row">
      <div class="col-6">
        <mat-card *ngIf="profile">


          <mat-card-title>
            Personal Profile
          </mat-card-title>

          <mat-card-content>
            <button *ngIf="!profile.imageUri" (click)="imageUpload()">
              <mat-icon>add_a_photo</mat-icon>
            </button>
            <img *ngIf="profile.imageUri" src="{{profile?.imageUri}}" class="img-fluid img-thumbnail  float-right" style="width:200px;height:200px;" alt="" srcset="">

            <h3> Title : {{profile?.title}}</h3>
            <h3> First Name : {{profile?.firstName}}</h3>
            <!-- <h3> User Id : {{profile?.userId}}</h3> -->
            <h3>Last Name: {{profile?.lastName}}</h3>
            <h3> Date of birth: {{profile?.dob | date}}</h3>
            <h3>Age : {{getAge(profile?.dob)}}</h3>
            <div *ngFor="let num of profile?.phoneNumber; let i =index;">
              <h2 *ngIf="num"> Phone Number : {{ i+1}}</h2>
              <h3 *ngIf="num.type"> Type : {{num.type}}</h3>
              <h3 *ngIf="num.type"> Number : {{num.number }}</h3>
            </div>

            <div *ngFor="let num of profile?.addresses ; let i=index;">
              <h2> Address : {{i+1}}</h2>
              <h4 *ngIf="num?.addressType"> Address Type : {{num?.addressType}}</h4>
              <h4 *ngIf="num?.street1"> Address Line 1: {{num?.street1}}</h4>
              <h4 *ngIf="num?.street2">Address Line 2 : {{num?.street2 }}</h4>

              <h4 *ngIf="num?.city">City : {{num?.city }}</h4>
              <h4 *ngIf="num?.state"> District : {{num?.state}}</h4>
              <h4 *ngIf="num?.postal"> Postal : {{num?.postal }}</h4>
            </div>
          </mat-card-content>
        </mat-card>

      </div>

      <div class="col-6">
        <mat-card>
          <mat-card-title>
            Medical Information
          </mat-card-title>
          <mat-card-content>
            <h3> Sexual orientation: {{profile?.sexualOrientation}} </h3>
            <h3> Living Status: {{profile?.livingStatus}} </h3>
            <h3>Alcohol : {{profile?.alcohol}}</h3>
            <h3> Social History : {{profile?.socialHistory}}</h3>

            <mat-accordion *ngIf="profile?.alergys">
              <mat-expansion-panel *ngFor="let al of profile?.alergys; let i=index;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Alergy
                  </mat-panel-title>
                  <mat-panel-description>
                    Alergy {{i+1}}
                  </mat-panel-description>

                </mat-expansion-panel-header>
                <!-- {{ | json}} -->
                <h3 *ngIf="al?.type">Alergy Type : {{al?.type}}</h3>
                <h3 *ngIf="al?.description">Description: {{al?.description}}</h3>


              </mat-expansion-panel>

            </mat-accordion>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <mat-card>
          <mat-card-title>
            Prescriptions
          </mat-card-title>
          <mat-card-content>

            <mat-accordion>
              <mat-expansion-panel *ngFor="let pr of profile?.prescriptions; let i=index;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Prescriptions
                  </mat-panel-title>
                  <mat-panel-description>
                    {{pr?.currentDate | date}} | {{pr?.currentDate | date:'shortTime'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- {{ | json}} -->

                <mat-list *ngFor="let me of pr?.medicines">
                  <mat-list-item>
                    <table>
                      <tr>
                        <td> Medicine Name : {{me?.name}} </td>
                        <td>Instruction : {{me?.description}}</td>
                      </tr>
                    </table>
                  </mat-list-item>

                </mat-list>
                <br>
                <br>
                <!-- <mat-divider></mat-divider> -->
                <h3 *ngIf="pr?.comments">Doctor Comments: {{pr?.comments}}</h3>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card>
          <mat-card-title>
            Doctors
          </mat-card-title>
          <mat-card-content>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Doctor Id</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doc of profile?.doctors; let i=index">
                  <th scope="row">{{1}}</th>
                  <td>{{doc?.doctorId}}</td>
                  <td>{{doc?.firstName}}</td>
                  <td>{{doc?.lastName}}</td>
                  <td>{{doc?.status}}</td>
                </tr>

              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-card>
