<br />
<br />
<mat-card>
    <mat-horizontal-stepper [linear]="isLinear">
        <mat-step [stepControl]="firstFormGroup">
            <mat-card>
                <form novalidate (ngSubmit)="save()" [formGroup]="customerForm">
                    <ng-template matStepLabel>Personal Information</ng-template>
                    <div class="form-container">
                        <mat-form-field>
                            <input matInput placeholder="Enter title" formControlName="title">
                            <mat-error *ngIf="customerForm.controls.title.invalid &&  customerForm.controls.title.touched ">Please Enter title </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder=" Enter First Name" formControlName="firstName">
                            <mat-error *ngIf="customerForm.controls.firstName.invalid &&  customerForm.controls.firstName.touched ">Please Enter First Name </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Enter Last Name" formControlName="lastName">
                            <mat-error *ngIf="customerForm.controls.lastName.invalid &&  customerForm.controls.lastName.touched ">Please Enter Last Name</mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field> -->
                        <mat-radio-group class="radio-group" formControlName="gender">
                            <h4> Gender : </h4>
                            <mat-radio-button class="radio-button" *ngFor="let ge of Gender" [value]="ge">
                                {{ge}}
                            </mat-radio-button>
                            <mat-error *ngIf="customerForm.controls.gender.invalid &&  customerForm.controls.gender.touched ">Please Enter Gender </mat-error>
                        </mat-radio-group>
                        <!-- </mat-form-field> -->
                        <mat-form-field>
                            <input type="date" matInput placeholder="Enter Date of birth" formControlName="dob">
                            <mat-error *ngIf="customerForm.controls.dob.invalid &&  customerForm.controls.dob.touched ">Please Enter Date of birth</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Enter Occupation" formControlName="occupation">
                            <mat-error *ngIf="customerForm.controls.occupation.invalid &&  customerForm.controls.occupation.touched ">Please Enter Occupation </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Enter Sexual Orientation" formControlName="sexualOrientation">
                            <mat-error *ngIf="customerForm.controls.sexualOrientation.invalid &&  customerForm.controls.sexualOrientation.touched ">Please Enter title </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Enter Living Status" formControlName="livingStatus">
                            <mat-error *ngIf="customerForm.controls.livingStatus.invalid &&  customerForm.controls.livingStatus.touched ">Please Enter title </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Enter Social History" formControlName="socialHistory">
                            <mat-error *ngIf="customerForm.controls.socialHistory.invalid &&  customerForm.controls.socialHistory.touched ">Please Enter title </mat-error>
                        </mat-form-field>
                        <div formGroupName="emailGroup">
                            <div class="form-container">
                                <mat-form-field>
                                    <input type="email" matInput placeholder="Enter email" formControlName="email">
                                    <mat-error *ngIf="customerForm.get('emailGroup.email').invalid">Please Enter valid Email </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input type="email" matInput placeholder="Confirm Email" formControlName="confirmEmail">
                                    <mat-error *ngIf="customerForm.get('emailGroup.confirmEmail').invalid &&  customerForm.get('emailGroup.confirmEmail')touched ">Please Confirm Email </mat-error>
                                </mat-form-field>
                                <div class="error" *ngIf="customerForm.get('emailGroup').touched && customerForm.get('emailGroup').hasError('match')">
                                    Email addresses must match
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <div>

                    <button mat-raised-button color="primary" matStepperNext>
                        Next
                        <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </mat-card>
        </mat-step>
        <mat-step [stepControl]="AddressFormGroup">
            <ng-template matStepLabel>Address </ng-template>
            <button mat-raised-button color="primary" type="button" [disabled]="!addresses.valid" (click)="addAddress()">
                Add Another Address
            </button>
            <br>

            <form novalidate (ngSubmit)="save()" [formGroup]="customerForm">
                <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i=index">
                    <mat-card [formGroupName]="i">
                        <div class="form-container">
                            <div class="form-group">
                                <label class="col-md-2 control-label" attr.for="{{'addressType1Id' + i}}">Address Type</label>
                                <div class="col-md-8">
                                    <label class="radio-inline">
                                        <input type="radio" id="{{'addressType1Id' + i}}" value="home" formControlName="addressType">Home
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="{{'addressType1Id' + i}}" value="work" formControlName="addressType">Work
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="{{'addressType1Id' + i}}" value="other" formControlName="addressType">Other
                                    </label>
                                </div>
                            </div>
                            <mat-form-field>
                                <input matInput type="text" id="{{'street1Id' + i}}" placeholder="Street address" formControlName="street1">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput type="text" id="{{'street2Id' + i}}" placeholder="Street address (second line)" formControlName="street2">
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput type="text" id="{{'cityId' + i}}" placeholder="City" formControlName="city">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput type="text" id="{{'stateId' + i}}" placeholder="State" formControlName="state">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput type="text" id="{{'postalId' + i}}" placeholder="Zip Code" formControlName="postal">
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>
            </form>
            <div style="padding : 2%; margin: 2%">
                <button mat-raised-button color="primary" matStepperPrevious>
                    <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>
                <button mat-raised-button color="primary" matStepperNext>
                    Next
                    <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form novalidate (ngSubmit)="save()" [formGroup]="customerForm">
                <ng-template matStepLabel>Contacts </ng-template>

                <button mat-raised-button color="primary" type="button" [disabled]="!addresses.valid" (click)="addPhoneNumber()">
                    Add Another Phone number
                </button>


                <div formArrayName="phoneNumber" *ngFor="let pn of phoneNumber.controls; let i=index">
                    <mat-card [formGroupName]="i">
                        <div class="form-container">
                            <div class="form-group">
                                <label class="col-md-2 control-label" attr.for="{{'phoneNumbertypeid' + i}}">Number Type</label>
                                <div class="col-md-8">
                                    <label class="radio-inline">
                                        <input type="radio" id="{{'phoneNumbertypeid' + i}}" value="phone" formControlName="type">Phone
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="{{'phoneNumbertypeid' + i}}" value="mobile" formControlName="type">Mobile
                                    </label>
                                </div>
                            </div>
                            <mat-form-field>
                                <input matInput id="{{'numberid' + i}}" placeholder="Enter your contact number" formControlName="number">
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>

            </form>
            <div style="padding : 2%; margin: 2%">
                <button mat-raised-button color="primary" matStepperPrevious>
                    <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>
                <button mat-raised-button color="primary" matStepperNext>
                    Next
                    <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>

        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">

            <ng-template matStepLabel>Medical Information </ng-template>
            <button mat-raised-button color="primary" type="button" [disabled]="!alergy.valid" (click)="addAlergy()">
                Add more
            </button>
            <form novalidate (ngSubmit)="save()" [formGroup]="customerForm">
                <div formArrayName="alergy" *ngFor="let al of alergy.controls; let i=index">

                    <mat-card [formGroupName]="i">
                        <div class="form-container">
                            <mat-form-field>
                                <input matInput type="text" id="{{'typeid' + i}}" placeholder="Enter alergy type" formControlName="type">
                            </mat-form-field>
                            <mat-form-field>
                                <textarea matInput id="{{'descriptionId' + i}}" placeholder="Enter description" formControlName="description"> </textarea>
                            </mat-form-field>
                        </div>
                    </mat-card>

                </div>
            </form>


            <div style="padding : 2%; margin: 2%">
                <button mat-raised-button color="primary" matStepperPrevious>
                    <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>
                <button mat-raised-button color="primary" matStepperNext>
                    Next
                    <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
                <h1> You are now done!</h1>
            <div style="padding : 2%; margin: 2%">
                <button mat-raised-button color="primary" matStepperPrevious>
                    <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>

                <button mat-raised-button color="accent" class="btn btn-primary" type="submit" [disabled]="!customerForm.valid">
                    <mat-icon mat-list-icon>save</mat-icon>
                    Submit
                </button>

            </div>
        </mat-step>

    </mat-horizontal-stepper>
    <br>Value: {{ customerForm.value | json }}
</mat-card>

<!-- old code -->
<!-- <div class="panel panel-primary">
    <div class="panel-heading">
        Patient Profile
    </div>

    <div class="panel-body">
        <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="customerForm">
            <fieldset>
                <fieldset>
                    <legend>Personal Information</legend>
                    <div class="form-group" [ngClass]="{'has-error': displayMessage.title}">
                        <label class="col-md-2 control-label" for="titleid">Title</label>

                        <div class="col-md-8">
                            <select class="form-control" id="titleid" type="text" placeholder="Title Name (required)" formControlName="title">
                                <option value="Mr">Mr</option>
                                <option value="Miss">Miss</option>
                            </select>
                            <span class="help-block" *ngIf="displayMessage.title">
                                {{displayMessage.title}}
                            </span>


                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': displayMessage.firstName}">
                        <label class="col-md-2 control-label" for="firstNameId">First Name</label>

                        <div class="col-md-8">
                            <input class="form-control" id="firstNameId" type="text" placeholder="First Name (required)" formControlName="firstName"
                            />
                            <span class="help-block" *ngIf="displayMessage.firstName">
                                {{displayMessage.firstName}}
                            </span>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{'has-error':displayMessage.lastName }">
                        <label class="col-md-2 control-label" for="lastNameId">Last Name</label>

                        <div class="col-md-8">
                            <input class="form-control" id="lastNameId" type="text" placeholder="Last Name (required)" formControlName="lastName" />
                            <span class="help-block" *ngIf="displayMessage.lastName">
                                {{displayMessage.lastName}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': displayMessage.dob }">
                        <label class="col-md-2 control-label" for="dobid">Date of birth</label>

                        <div class="col-md-8">
                            <input class="form-control" id="dobid" type="date" placeholder="Last Name (required)" formControlName="dob" />
                            <span class="help-block" *ngIf="displayMessage.dob">
                                {{displayMessage.dob}}

                            </span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':displayMessage.occupation }">
                        <label class="col-md-2 control-label" for="sexualOrientation">Occupation</label>

                        <div class="col-md-8">
                            <input class="form-control" id="sexualOrientation" type="text" placeholder="Last Name (required)" formControlName="occupation"
                            />
                            <span class="help-block" *ngIf="displayMessage.occupation">
                                {{displayMessage.occupation}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Gender</label>
                        <div class="col-md-8">
                            <label class="radio-inline">
                                <input type="radio" value="mail" formControlName="gender">Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="female" formControlName="gender">Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': displayMessage.sexualOrientation }">
                        <label class="col-md-2 control-label" for="sexualOrientation">Sexual orientation</label>

                        <div class="col-md-8">
                            <select class="form-control" name="sexualOrientation" id="sexualOrientation" formControlName="sexualOrientation">
                                <option value="Heterosexual">Heterosexual</option>
                                <option value="Bisexual">Bisexual</option>
                            </select>
                            <span class="help-block" *ngIf="displayMessage.sexualOrientation">
                                {{displayMessage.sexualOrientation}}

                            </span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': displayMessage.livingStatus }">
                        <label class="col-md-2 control-label" for="livingStatus">Living Status</label>

                        <div class="col-md-8">
                            <input class="form-control" id="livingStatus" type="text" placeholder="Last Name (required)" formControlName="livingStatus"
                            />
                            <span class="help-block" *ngIf="displayMessage.livingStatus">
                                {{displayMessage.livingStatus}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': displayMessage.socialHistory }">
                        <label class="col-md-2 control-label" for="livingStatus">Social History</label>

                        <div class="col-md-8">
                            <input class="form-control" id="socialHistory" type="text" placeholder="Please enter  Name " formControlName="socialHistory"
                            />
                            <span class="help-block" *ngIf="displayMessage.socialHistory">
                                {{displayMessage.socialHistory}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': displayMessage.alcohol }">
                        <label class="col-md-2 control-label" for="alcohol">Alcohol</label>

                        <div class="col-md-8">
                            <input class="form-control" id="alcohol" type="text" placeholder="Please enter alcohol usage " formControlName="alcohol"
                            />
                            <span class="help-block" *ngIf="displayMessage.alcohol">
                                {{displayMessage.alcohol}}
                            </span>
                        </div>
                    </div>
                    <div formGroupName="emailGroup" [ngClass]="{'has-error': customerForm.get('emailGroup').errors }">

                        <div class="form-group" [ngClass]="{'has-error': emailMessage}">
                            <label class="col-md-2 control-label" for="emailId">Email</label>

                            <div class="col-md-8">
                                <input class="form-control" id="emailId" type="email" placeholder="Email (required)" formControlName="email" />
                                <span class="help-block" *ngIf="emailMessage">
                                    {{ emailMessage }}
                                </span>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error': (customerForm.get('emailGroup.confirmEmail').touched ||
                                                  customerForm.get('emailGroup.confirmEmail').dirty) &&
                                                  !customerForm.get('emailGroup.confirmEmail').valid }">
                            <label class="col-md-2 control-label" for="confirmEmailId">Confirm Email</label>

                            <div class="col-md-8">
                                <input class="form-control" id="confirmEmailId" type="email" placeholder="Confirm Email (required)" formControlName="confirmEmail"
                                />
                                <span class="help-block" *ngIf="(customerForm.get('emailGroup.confirmEmail').touched ||
                                                            customerForm.get('emailGroup.confirmEmail').dirty) &&
                                                            (customerForm.get('emailGroup.confirmEmail').errors ||
                                                             customerForm.get('emailGroup').errors)">
                                    <span *ngIf="customerForm.get('emailGroup.confirmEmail').errors?.required">
                                        Please confirm your email address.
                                    </span>
                                    <span *ngIf="customerForm.get('emailGroup').errors?.match">
                                        The confirmation does not match the email address.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Contact information</legend>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <span>
                                <button class="btn btn-primary" type="button" [disabled]="!addresses.valid" (click)="addPhoneNumber()">
                                    Add Another Phone number
                                </button>
                            </span>
                        </div>
                    </div>



                    <div>
                        <div formArrayName="phoneNumber" *ngFor="let pn of phoneNumber.controls; let i=index">
                            <div [formGroupName]="i">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" attr.for="{{'phoneNumbertypeid' + i}}">Number Type</label>
                                    <div class="col-md-8">
                                        <label class="radio-inline">
                                            <input type="radio" id="{{'phoneNumbertypeid' + i}}" value="phone" formControlName="type">Phone
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="{{'phoneNumbertypeid' + i}}" value="mobile" formControlName="type">Mobile
                                        </label>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" attr.for="{{'numberid' + i}}">Number</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="{{'numberid' + i}}" placeholder="Enter your contact number" formControlName="number">
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </fieldset>

                <div class="form-group">
                    <label class="col-md-2 control-label">Send Notifications</label>
                    <div class="col-md-8">
                        <label class="radio-inline">
                            <input type="radio" value="email" formControlName="notification">Email
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="text" formControlName="notification">Text
                        </label>
                    </div>
                </div>


                <fieldset>
                    <legend>Alergy information</legend>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <span>
                                <button class="btn btn-primary" type="button" [disabled]="!alergy.valid" (click)="addAlergy()">
                                    Add more
                                </button>
                            </span>
                        </div>
                    </div>
                    <div formArrayName="alergy" *ngFor="let al of alergy.controls; let i=index">
                        <div [formGroupName]="i">
                            <div class="form-group">
                                <label class="col-md-2 control-label" attr.for="{{'typeid' + i}}">Alergy Type</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="{{'typeid' + i}}" placeholder="Enter alergy type" formControlName="type">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" attr.for="{{'descriptionId' + i}}">Alergy description</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="{{'descriptionId' + i}}" placeholder="Enter description" formControlName="description"> </textarea>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <fieldset>
                    <legend>Address</legend>


                    <div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-2">
                                <span>
                                    <button class="btn btn-primary" type="button" [disabled]="!addresses.valid" (click)="addAddress()">
                                        Add Another Address
                                    </button>
                                </span>
                            </div>
                        </div>

                        <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i=index">
                            <div [formGroupName]="i">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" attr.for="{{'addressType1Id' + i}}">Address Type</label>
                                    <div class="col-md-8">
                                        <label class="radio-inline">
                                            <input type="radio" id="{{'addressType1Id' + i}}" value="home" formControlName="addressType">Home
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="{{'addressType1Id' + i}}" value="work" formControlName="addressType">Work
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="{{'addressType1Id' + i}}" value="other" formControlName="addressType">Other
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" attr.for="{{'street1Id' + i}}">Street Address 1</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="{{'street1Id' + i}}" placeholder="Street address" formControlName="street1">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" attr.for="{{'street2Id' + i}}">Street Address 2</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="{{'street2Id' + i}}" placeholder="Street address (second line)" formControlName="street2">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" attr.for="{{'cityId' + i}}">City, State, Zip Code</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="{{'cityId' + i}}" placeholder="City" formControlName="city">
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" id="{{'stateId' + i}}" formControlName="state">
                                            <option value="" disabled selected hidden>Select a State...</option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="{{'postalId' + i}}" placeholder="Zip Code" formControlName="postal">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-8 checkbox">
                        <label>
                            <input id="sendCatalogId" type="checkbox" formControlName="sendCatalog"> Send me news letter
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" type="submit" [disabled]="!customerForm.valid">
                                Submit
                            </button>
                        </span>

                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>-->
<!--<br>Dirty: {{ customerForm.dirty }}
<br>Touched: {{ customerForm.touched }}
<br>Valid: {{ customerForm.valid }}-->