


<div class="box">
  <h3> Upload File</h3>

  <label for="file">File : </label>
  <input type="file" class="button" (change)="upload($event)">
  <br><br>
  <div >
    <progress class="progress is-success"  max=100 value="{{ uploadProgress | async }}"></progress>
    Progress: {{downloadURL | async }} | {{uploadProgress | async}}% Complete
  </div>

  <section class="control-bar" *ngIf="uploadState | async; let state">
    <button (click)="task.pause()" [disabled]="state === 'paused'">Pause</button>
    <button (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
    <button (click)="task.resume()" [disabled]="state === 'running'">Resume</button>
  </section>

</div>
