<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">DigitalMedicalPassport</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a *ngIf="auth.isAuthenticated()" [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a *ngIf="auth.isAuthenticated()" [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">

                    <a *ngIf="auth.isAuthenticated()" [routerLink]="['/profile']">
                        <span class='glyphicon glyphicon-user'></span> Profile
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">

                    <a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
                        <span class='glyphicon glyphicon-log-in'></span> Login
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">

                    <a *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
                        <span class='glyphicon glyphicon-log-out'></span> Logout
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">

                    <a *ngIf="auth.isAuthenticated() && auth.isInRole('admin')" [routerLink]="['/admin']">
                        <span class='glyphicon glyphicon-log-out'></span> Admin
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">

                    <a *ngIf="auth.isAuthenticated() && auth.isInRole('doctor')" [routerLink]="['/doctor']">
                        <span class='glyphicon glyphicon-log-out'></span> Doctor
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">

                    <a *ngIf="auth.isAuthenticated() && auth.isInRole('user')" [routerLink]="['/patient']">
                        <span class='glyphicon glyphicon-log-out'></span> Patient
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                   <a *ngIf="auth.isAuthenticated()" (click)="auth.renewToken()">
                       <span class='glyphicon glyphicon-log-out'></span>Renew Token
                   </a>
                </li >
                <li [routerLinkActive]="['link-active']">
                    <a *ngIf="auth.isAuthenticated()" href='http://localhost:5000/swagger'>
                        <span class='glyphicon glyphicon-bitcoin'></span>Swagger
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>-->

<mat-sidenav-container class="mat-typography">
    <mat-sidenav #sidenav>
        <mat-toolbar mode="side" opened="true" color="primary">
            <!--<img src="assets/aiacube-logo.png" alt="" class="img-fluid">--> Digital Medical Passport
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item [routerLink]="['/home']" routerLinkActive="active">
                <mat-icon mat-list-icon>home</mat-icon>
                <a matLine>Home</a>
            </mat-list-item>
            <mat-list-item *ngIf="auth.isAuthenticated()" [routerLink]="['/profile']">
                <mat-icon mat-list-icon>list</mat-icon>
                <a matLine>Profile</a>
            </mat-list-item>
            <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('admin')" [routerLink]="['/admin']">
                <mat-icon mat-list-icon>list</mat-icon>
                <a matLine>Admin</a>
            </mat-list-item>
            <mat-list-item  *ngIf="auth.isAuthenticated() && auth.isInRole('user')" [routerLink]="['/patient']">
                <mat-icon mat-list-icon>list</mat-icon>
                <a matLine>Patient</a>
            </mat-list-item>
           
            <mat-list-item *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
                <mat-icon mat-list-icon>lock_open</mat-icon>
                <a matLine>Login</a>
            </mat-list-item>
            <mat-list-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
                <mat-icon mat-list-icon>https</mat-icon>
                <a matLine>Logout</a>
            </mat-list-item>
            <!-- <mat-list-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()"  routerLinkActive="active">
              <mat-icon mat-list-icon>login</mat-icon>
              <a matLine >Logout</a>
            </mat-list-item> -->

        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <span>
            <button mat-icon-button (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>
        </span>
        <span>
            <p class="ml6">
                <span class="text-wrapper">
                    <span class="letters">{{title}}</span>
                </span>
            </p>
        </span>
        <span class="example-spacer"></span>
        <button class="example-icon" mat-raised-button color="accent" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
            <mat-icon mat-list-icon>lock_open</mat-icon>
            Login
        </button>
        <button class="example-icon" mat-raised-button color="accent" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
            <mat-icon mat-list-icon>https</mat-icon>
            Logout
        </button>
    </mat-toolbar>
    <div class="content">
        <div class='container-fluid'>
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</mat-sidenav-container>
