<div class="row">
  <mat-toolbar color="primary">
    <span class="spacer"></span>
    <button class="example-icon" style="margin:2px;" type="button" mat-raised-button color="accent" (click)="openDialog()">
      <mat-icon mat-list-icon>person_add</mat-icon>
      Add Schedual</button>

    <button mat-raised-button color="accent" routerLink="/doctor/details" style="margin:2px;">
      <mat-icon>dashboard</mat-icon> Medical Profile</button>
    <button mat-raised-button color="accent" routerLink="/doctor/access-requests" style="margin:2px;">
      <mat-icon>view_column</mat-icon> Access Request List</button>
    <button mat-raised-button color="accent" style="margin:2px;" routerLink="/doctor/booking">
      <mat-icon>contacts</mat-icon> Appointments</button>
    <button mat-raised-button color="accent" style="margin:2px;" routerLink="/doctor/view-schedual">
      <mat-icon>contacts</mat-icon> View Schedual</button>

  </mat-toolbar>
</div>


<mat-card>
  <mat-tab-group dynamicHeight="true">
    <mat-tab *ngFor="let bs of bookingSlots; let i=index" label="{{bs?.date | date}}">

      <mat-card *ngFor="let sc of bs?.slot">
        <mat-card-content>
          <div class="row">
            <div class="col-3">
              Time: {{sc?.time }}
              <p *ngIf="sc?.booked">Booked</p>
              <p *ngIf="!sc?.booked">Open for booking</p>
            </div>
            <div class="col-3">
              <p> {{sc?.firstName}}</p>
              <p> {{sc?.lastName}}</p>
              <p>{{ sc?.email}}</p>
              <p>{{ sc?.userId}}</p>
            </div>
            <div class="col-3">
              <p> {{sc?.reason}}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>
