<mat-sidenav-container class="mat-typography">
  <mat-sidenav #sidenav>
    <mat-toolbar mode="side" opened="true" color="primary">
      <img src="assets/digital-medical-passport-logo.png" alt="" class="img-fluid">
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item [routerLink]="['/home']" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <a matLine>Home</a>
      </mat-list-item>
      <!-- <mat-list-item *ngIf="auth.isAuthenticated()" [routerLink]="['/profile']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Profile</a>
      </mat-list-item> -->
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('admin')" [routerLink]="['/admin/patients-list']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Patients</a>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('admin')" [routerLink]="['/admin/doctors-list']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine> Doctors </a>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('admin')" [routerLink]="['/admin/dashboard']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Dashboard</a>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('user')" [routerLink]="['/patient/details']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Medical Profile</a>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('user')" [routerLink]="['/patient/accessRequest']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Access Request</a>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('user')" [routerLink]="['/patient/appointments']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Appointments</a>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('doctor')" [routerLink]="['/doctor/dashboard']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Dashboard</a>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('doctor')" [routerLink]="['/doctor/details']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Medical Profile</a>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('doctor')" [routerLink]="['/doctor/findClients']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Find Client</a>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('doctor')" [routerLink]="['/doctor/access-requests']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Access Requests</a>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('doctor')" [routerLink]="['/doctor/booking']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Appointments</a>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('doctor')" [routerLink]="['/doctor/view-schedual']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Schedual</a>
      </mat-list-item>
      <!-- <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('doctor')" [routerLink]="['/doctor/schedual']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Add Schedual</a>
      </mat-list-item> -->
      <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('doctor')" [routerLink]="['/doctor/patients']">
        <mat-icon mat-list-icon>list</mat-icon>
        <a matLine>Patients</a>
      </mat-list-item>

      <mat-list-item *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
        <mat-icon mat-list-icon>lock_open</mat-icon>
        <a matLine>Login</a>
      </mat-list-item>
      <mat-list-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
        <mat-icon mat-list-icon>https</mat-icon>
        <a matLine>Logout</a>
      </mat-list-item>

      <mat-list-item routerLink="/core/doctor-list">
        <mat-icon mat-list-icon>nature_people</mat-icon>
        <a matLine>Doctors</a>
      </mat-list-item>
      <!-- <mat-list-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()"  routerLinkActive="active">
            <mat-icon mat-list-icon>login</mat-icon>
            <a matLine >Logout</a>
          </mat-list-item> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <span>
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <span>
      <p class="ml6">
        <span class="text-wrapper">
          <span class="letters">{{title}}</span>
        </span>
      </p>
    </span>
    <span class="example-spacer"></span>
    <!-- <button class="example-icon" mat-raised-button color="accent" routerLink="/core/doctor-list">

      Doctors
    </button> -->
    <span class="example-spacer"></span>
    <button class="btn btn-primary btn-sm" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">

      Login
    </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" *ngIf="auth.isAuthenticated()">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{email | async}}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log out</a>

        </div>
      </li>
    </ul>
    <!-- <button *ngIf="!auth.isAuthenticated()" (click)="auth.login()">

      Login
    </button>
    <button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">

      Logout
    </button> -->
  </mat-toolbar>

  <div class='container-fluid'>
    <!-- <div *ngIf="messagingService.currentMessage | async as message" class="notification is-dark slideInRight">
      <img [src]="message.notification.icon" width="100px">
      <h1>{{ message.notification.title }}</h1>
      <p>{{ message.notification.body }}</p>
    </div> -->
    <router-outlet></router-outlet>

    <br>
    <br>
    <br>
    <app-footer></app-footer>
  </div>

</mat-sidenav-container>
