:host {
  width: 100%;
  height: 700px;
}
.sideNav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
mat-sidenav {
  width: 250px;
}
.example-sidenav {
  padding: 20px;
}
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 1.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.7em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
