<br />
<br />
<mat-card>
  <mat-horizontal-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstFormGroup">
      <mat-card>
        <form [formGroup]="doctorForm">
          <ng-template matStepLabel>Personal Information</ng-template>
          <div class="form-container">
            <mat-form-field>
              <input matInput placeholder="Enter title" [matAutocomplete]="auto" formControlName="title">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="doctorForm.controls.title.invalid &&  doctorForm.controls.title.touched ">Please Enter title </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder=" Enter First Name" formControlName="firstName">
              <mat-error *ngIf="doctorForm.controls.firstName.invalid &&  doctorForm.controls.firstName.touched ">Please Enter First Name </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter Last Name" formControlName="lastName">
              <mat-error *ngIf="doctorForm.controls.lastName.invalid &&  doctorForm.controls.lastName.touched ">Please Enter Last Name</mat-error>
            </mat-form-field>

            <mat-radio-group class="radio-group" formControlName="gender">
                <h4> Gender : </h4>
                <mat-radio-button class="radio-button" *ngFor="let ge of Gender" [value]="ge">
                  {{ge}}
                </mat-radio-button>
                <mat-error *ngIf="doctorForm.controls.gender.invalid &&  doctorForm.controls.gender.touched ">Please Enter Gender </mat-error>
              </mat-radio-group>

            <mat-form-field>
              <input type="date" matInput placeholder="Enter Date of birth" formControlName="dob">
              <mat-error *ngIf="doctorForm.controls.dob.invalid &&  doctorForm.controls.dob.touched ">Please Enter Date of birth</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Area of work" formControlName="areaOfWork">
              <mat-error *ngIf="doctorForm.controls.areaOfWork.invalid &&  doctorForm.controls.areaOfWork.touched ">Please Enter area of work</mat-error>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder=" Profile Summary" formControlName="summary"></textarea>
              <mat-error *ngIf="doctorForm.controls.summary.invalid &&  doctorForm.controls.summary.touched ">Please Enter profile summary</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input type="text" matInput placeholder="Enter Occupation" formControlName="occupation">
              <mat-error *ngIf="doctorForm.controls.occupation.invalid &&  doctorForm.controls.occupation.touched ">Please Enter Occupation </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Enter Sexual Orientation" [matAutocomplete]="sexualOrientation" formControlName="sexualOrientation">
              <mat-autocomplete #sexualOrientation="matAutocomplete">
                  <mat-option *ngFor="let option of genderFilteredOptions | async" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              <mat-error *ngIf="doctorForm.controls.sexualOrientation.invalid &&  doctorForm.controls.sexualOrientation.touched ">Please Enter title </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Enter Living Status" formControlName="livingStatus">
              <mat-error *ngIf="doctorForm.controls.livingStatus.invalid &&  doctorForm.controls.livingStatus.touched ">Please Enter title </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Enter Social History" formControlName="socialHistory">
              <mat-error *ngIf="doctorForm.controls.socialHistory.invalid &&  doctorForm.controls.socialHistory.touched ">Please Enter title </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="email" matInput placeholder="Enter email" formControlName="email">
              <mat-error *ngIf="doctorForm.controls.email.invalid && doctorForm.controls.email.touched">Please Enter valid Email </mat-error>
            </mat-form-field>



          </div>
        </form>
        <div>

          <button mat-raised-button color="primary" matStepperNext>
            Next
            <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </mat-card>
    </mat-step>
    <mat-step [stepControl]="AddressFormGroup">
      <ng-template matStepLabel>Address </ng-template>
      <button mat-raised-button color="primary" type="button" (click)="addAddress()">
        Add Another Address
      </button>
      <br>

      <form [formGroup]="doctorForm">
        <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i=index">
          <mat-card [formGroupName]="i">
            <div class="form-container">
              <div class="form-group">
                <label class="col-md-2 control-label" attr.for="{{'addressType1Id' + i}}">Address Type</label>
                <div class="col-md-8">
                  <label class="radio-inline">
                    <input type="radio" id="{{'addressType1Id' + i}}" value="home" formControlName="addressType">Home
                  </label>
                  <label class="radio-inline">
                    <input type="radio" id="{{'addressType1Id' + i}}" value="work" formControlName="addressType">Work
                  </label>
                  <label class="radio-inline">
                    <input type="radio" id="{{'addressType1Id' + i}}" value="other" formControlName="addressType">Other
                  </label>
                </div>
              </div>
              <mat-form-field>
                <input matInput type="text" id="{{'street1Id' + i}}" placeholder="Street address" formControlName="street1">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" id="{{'street2Id' + i}}" placeholder="Street address (second line)" formControlName="street2">
              </mat-form-field>

              <mat-form-field>
                <input matInput type="text" id="{{'cityId' + i}}" placeholder="City" formControlName="city">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" id="{{'stateId' + i}}" placeholder="District Name" formControlName="district">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" id="{{'postalId' + i}}" placeholder="Postal Code" formControlName="postal">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" id="{{'countryId' + i}}" placeholder="Country Name" formControlName="country">
              </mat-form-field>

            </div>
            <button mat-raised-button color="accent" type="button" (click)="removeAddress(i)">Remove </button>
          </mat-card>
        </div>
      </form>
      <div style="padding : 2%; margin: 2%">
        <button mat-raised-button color="primary" matStepperPrevious>
          <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>
        <button mat-raised-button color="primary" matStepperNext>
          Next
          <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="doctorForm">
        <ng-template matStepLabel>Contacts </ng-template>

        <button mat-raised-button color="primary" type="button" (click)="addPhoneNumber()">
          Add Another Phone number
        </button>


        <div formArrayName="phoneNumbers" *ngFor="let pn of phoneNumbers.controls; let i=index">
          <mat-card [formGroupName]="i">
            <div class="form-container">
              <div class="form-group">
                <label class="col-md-2 control-label" attr.for="{{'phoneNumbertypeid' + i}}">Number Type</label>
                <div class="col-md-8">
                  <label class="radio-inline">
                    <input type="radio" id="{{'phoneNumbertypeid' + i}}" value="phone" formControlName="type">Phone
                  </label>
                  <label class="radio-inline">
                    <input type="radio" id="{{'phoneNumbertypeid' + i}}" value="mobile" formControlName="type">Mobile
                  </label>
                </div>
              </div>
              <mat-form-field>
                <input matInput id="{{'numberid' + i}}" placeholder="Enter your contact number" formControlName="number">
              </mat-form-field>

            </div>
            <button mat-raised-button color="accent" type="button" (click)="removePhoneNumber(i)">Remove </button>
          </mat-card>
        </div>

      </form>
      <div style="padding : 2%; margin: 2%">
        <button mat-raised-button color="primary" matStepperPrevious>
          <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>
        <button mat-raised-button color="primary" matStepperNext>
          Next
          <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>

    </mat-step>

    <mat-step [stepControl]="qualifications">
      <form [formGroup]="doctorForm">
        <ng-template matStepLabel>Qualification </ng-template>

        <button mat-raised-button color="primary" type="button" (click)="addQualification()">
          Add Another Qualification
        </button>


        <div formArrayName="qualifications" *ngFor="let q of qualifications.controls; let i=index">
          <mat-card [formGroupName]="i">
            <div class="form-container">

              <mat-form-field>
                <input matInput id="{{'universityId' + i}}" placeholder="Enter University Name" formControlName="university">
              </mat-form-field>
              <mat-form-field>
                <input matInput id="{{'subjectId' + i}}" placeholder="Enter Subject" formControlName="subject">
              </mat-form-field>
              <mat-form-field>
                <input matInput id="{{'degreeId' + i}}" placeholder="Enter Degree Name" formControlName="degree">
              </mat-form-field>
            </div>
            <button mat-raised-button color="accent" type="button" (click)="removeQualification(i)">Remove </button>
          </mat-card>
        </div>

      </form>
      <div style="padding : 2%; margin: 2%">
        <button mat-raised-button color="primary" matStepperPrevious>
          <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>
        <button mat-raised-button color="primary" matStepperNext>
          Next
          <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>

    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">

      <ng-template matStepLabel>Medical Information </ng-template>
      <button mat-raised-button color="primary" type="button" (click)="addAlergy()">
        Add more
      </button>
      <form [formGroup]="doctorForm">
        <div formArrayName="alergys" *ngFor="let al of alergys.controls; let i=index">

          <mat-card [formGroupName]="i">
            <div class="form-container">
              <mat-form-field>
                <input matInput type="text" id="{{'typeid' + i}}" placeholder="Enter alergys type" formControlName="type">
              </mat-form-field>
              <mat-form-field>
                <textarea matInput id="{{'descriptionId' + i}}" placeholder="Enter description" formControlName="description"> </textarea>
              </mat-form-field>
            </div>

            <button mat-raised-button color="accent" type="button" (click)="removeAlergy(i)">Remove </button>
          </mat-card>

        </div>
      </form>


      <div style="padding : 2%; margin: 2%">
        <button mat-raised-button color="primary" matStepperPrevious>
          <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>
        <button mat-raised-button color="primary" matStepperNext>
          Next
          <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-step>
    <!-- <mat-step [stepControl]="fileUpload">
      <form [formGroup]="doctorForm">
      <ng-template matStepLabel>File Upload </ng-template>
      </form>
       <div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
        <h3>AngularFire Drop Zone</h3>
        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" (change)="startUpload($event.target.files)">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                or choose a file…
              </span>
            </span>
          </label>
        </div>
      </div>
    </mat-step> -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h1> You are now done!</h1>
      <div style="padding : 2%; margin: 2%">
        <button mat-raised-button color="primary" matStepperPrevious>
          <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>Back</button>

        <button mat-raised-button color="accent" class="btn btn-primary" (click)="save()" [disabled]="!doctorForm.valid">
          <mat-icon mat-list-icon>save</mat-icon>
          Submit
        </button>

      </div>
    </mat-step>

  </mat-horizontal-stepper>
  <!-- <br>Value: {{ doctorForm.value | json }} -->
</mat-card>
