.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 100%;
  }
  
  .radio-group {
    display: inline-flex;
    flex-direction: row;
  }
  
  .radio-button {
    margin:10 px;
    padding-left: 10px;
  }
  
  
  
  
  
  
  
  
  
  