<div class="row">
  <mat-toolbar color="primary">
    <span class="example-spacer"></span>
    <button class="example-icon" style="margin:2px;" type="button" mat-raised-button color="accent" (click)="addNewPres()">
      <mat-icon mat-list-icon>person_add</mat-icon>
      Add Prescription</button>
    <button class="example-icon" style="margin:2px;" type="button" mat-raised-button color="accent" (click)="addNewTest()">
      <mat-icon mat-list-icon>person_add</mat-icon>
      Add Medical Test</button>
    <button class="example-icon" style="margin:2px;" type="button" mat-raised-button color="accent" (click)="uploadDialog()">
      <mat-icon mat-list-icon>person_add</mat-icon>
      Upload File</button>
  </mat-toolbar>
</div>

<app-loading-dot *ngIf="loader"></app-loading-dot>



<div class="row">
  <!-- <app-loading-dot *ngIf="loader"></app-loading-dot> -->
  <div class="col-6">

    <mat-card>
      <mat-card-title>Personal Details</mat-card-title>
      <mat-card-content>
        <h3>User Id : {{profile?.userId}}</h3>
        <h3>Title : {{profile?.title}}</h3>
        <h3>First Name : {{profile?.firstName}}</h3>
        <h3>Last Name : {{profile?.lastName}}</h3>
        <h3>Date Of Birth : {{profile?.dob}}</h3>
        <h3>Email : {{profile?.email}}</h3>
        <h3>Occupation : {{profile?.occupation}}</h3>
        <h3>Sexual Orientation : {{profile?.sexualOrientation }}</h3>
        <h3>Social history : {{profile?.socialHistory }}</h3>
        <h3>Living Status : {{profile?.livingStatus }}</h3>
        <h3>Alcohol : {{profile?.alcohol }}</h3>

        <mat-accordion *ngIf="profile?.addresses">
          <mat-expansion-panel *ngFor="let address of profile?.addresses; let i=index;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Address
              </mat-panel-title>
              <mat-panel-description>
                Address {{i+1}}
              </mat-panel-description>

            </mat-expansion-panel-header>
            <!-- {{address | json}} -->
            <h3 *ngIf="address?.addressType">Address Type : {{address?.addressType}}</h3>
            <h3 *ngIf="address?.street1">Street 1 : {{address?.street1}}</h3>
            <h3 *ngIf="address?.street2">Street 2 : {{address?.street2}}</h3>
            <h3 *ngIf="address?.state">State : {{address?.state}}</h3>
            <h3 *ngIf="address?.city">City : {{address?.city}}</h3>

          </mat-expansion-panel>

        </mat-accordion>
        <br>
        <br>
        <mat-accordion *ngIf="profile?.phoneNumbers">
          <mat-expansion-panel *ngFor="let nu of profile?.phoneNumbers; let i=index;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Phone Number
              </mat-panel-title>
              <mat-panel-description>
                Phone Number {{i+1}}
              </mat-panel-description>

            </mat-expansion-panel-header>
            <!-- {{ | json}} -->
            <h3 *ngIf="nu?.type">Type : {{nu?.type}}</h3>
            <h3 *ngIf="nu?.number">Number : {{nu?.number}}</h3>


          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-title>
        Medical Details
      </mat-card-title>
      <mat-card-content>
        <mat-accordion *ngIf="profile?.alergys">
          <mat-expansion-panel *ngFor="let al of profile?.alergys; let i=index;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Alergy
              </mat-panel-title>
              <mat-panel-description>
                Alergy {{i+1}}
              </mat-panel-description>

            </mat-expansion-panel-header>
            <!-- {{ | json}} -->
            <h3 *ngIf="al?.type">Alergy Type : {{al?.type}}</h3>
            <h3 *ngIf="al?.description">Description: {{al?.description}}</h3>


          </mat-expansion-panel>

        </mat-accordion>
        <br>
        <br>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let pr of profile?.prescriptions; let i=index;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Prescriptions
              </mat-panel-title>
              <mat-panel-description>
                {{pr?.currentDate | date}} | {{pr?.currentDate | date:'shortTime'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- {{ | json}} -->

            <mat-list *ngFor="let me of pr?.medicines">
              <mat-list-item>
                <table>
                  <tr>
                    <td> Medicine Name : {{me?.name}} </td>
                    <td>Instruction : {{me?.description}}</td>
                  </tr>
                </table>
              </mat-list-item>

            </mat-list>
            <br>
            <br>
            <!-- <mat-divider></mat-divider> -->
            <h3 *ngIf="pr?.comments">Doctor Comments: {{pr?.comments}}</h3>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>
