
  <app-loading-dot *ngIf="loader"></app-loading-dot>

  <mat-card >
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource" matSort class="animate">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Id </mat-header-cell>
          <mat-cell *matCellDef="let client"> {{ client?.patientId }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
          <mat-cell *matCellDef="let client"> {{ client?.patientFirstNmae }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
          <mat-cell *matCellDef="let client"> {{ client?.patientLastName }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let client"> {{ client?.status }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="details">
          <mat-header-cell *matHeaderCellDef> View </mat-header-cell>
          <mat-cell *matCellDef="let client">
            <button mat-raised-button color="primary" *ngIf="client?.status" (click)="details(client?.patientId, client?.role)">
              <mat-icon mat-list-icon> open_in_new</mat-icon>
              Open
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 20, 40, 80,100 ]">
      </mat-paginator>
    </div>
  </mat-card>

