<div class="row">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="spacer"></div>
      <button mat-raised-button color="accent" *ngIf="!profile" style="margin:2px;" (click)="addPatientProfile()">
        <mat-icon>person_add</mat-icon> Add Profile</button>
      <button mat-raised-button color="accent" *ngIf="profile" style="margin:2px;" (click)="editPatientProfile(profile.userId) ">
        <mat-icon>mode_edit</mat-icon> Edit Profile</button>
      <button mat-raised-button color="accent" routerLink="/doctor/dashboard" style="margin:2px;">
        <mat-icon>dashboard</mat-icon> Dashboard</button>
      <button mat-raised-button color="accent" routerLink="/doctor/access-requests" style="margin:2px;">
        <mat-icon>view_column</mat-icon> Access Request List</button>
      <button mat-raised-button color="accent" style="margin:2px;" routerLink="/doctor/booking">
        <mat-icon>contacts</mat-icon> Appointments</button>
    </mat-toolbar-row>
  </mat-toolbar>

</div>
<br>
<br>
<mat-card *ngIf="!profile">
  No Records Found
</mat-card>

<app-loading-folding-cube *ngIf="loader"></app-loading-folding-cube>

  <mat-card *ngIf="profile">
    <!-- <mat-tab-group> -->
    <!-- <mat-tab label="Personal Information"> -->
    <div class="row">
      <div class="col-6">
        <mat-card>


          <mat-card-title class="text-center">
            Personal Profile
          </mat-card-title>

          <mat-card-content class="text-center">
            <button *ngIf="!profile.imageUri" (click)="imageUpload()">
              <mat-icon>add_a_photo</mat-icon>
            </button>
            <img *ngIf="profile.imageUri" src="{{profile?.imageUri}}" class="img-fluid img-thumbnail  float-right" style="width:200px;height:200px;"
              alt="" srcset="">
            <h3> Title : {{profile?.title}}</h3>
            <h3> First Name : {{profile?.firstName}}</h3>
            <!-- <h3> User Id : {{profile?.userId}}</h3> -->
            <h3>Last Name: {{profile?.lastName}}</h3>
            <h3> Date of birth: {{profile?.dob |date}}</h3>
            <h3>Age : {{getAge(profile?.dob)}}</h3>
            <br>
            <br>
            <mat-accordion *ngIf="profile?.phoneNumbers">
              <mat-expansion-panel *ngFor="let nu of profile?.phoneNumbers; let i=index;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Phone Number
                  </mat-panel-title>
                  <mat-panel-description>
                    Phone Number {{i+1}}
                  </mat-panel-description>

                </mat-expansion-panel-header>
                <!-- {{ | json}} -->
                <h3 *ngIf="nu?.type">Type : {{nu?.type}}</h3>
                <h3 *ngIf="nu?.number">Number : {{nu?.number}}</h3>


              </mat-expansion-panel>

            </mat-accordion>
            <br>
            <br>

            <mat-accordion *ngIf="profile?.addresses">
              <mat-expansion-panel *ngFor="let address of profile?.addresses; let i=index;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Address
                  </mat-panel-title>
                  <mat-panel-description>
                    Address {{i+1}}
                  </mat-panel-description>

                </mat-expansion-panel-header>
                <!-- {{address | json}} -->
                <h3 *ngIf="address?.addressType">Address Type : {{address?.addressType}}</h3>
                <h3 *ngIf="address?.street1">Street 1 : {{address?.street1}}</h3>
                <h3 *ngIf="address?.street2">Street 2 : {{address?.street2}}</h3>
                <h3 *ngIf="address?.state">State : {{address?.state}}</h3>
                <h3 *ngIf="address?.city">City : {{address?.city}}</h3>

              </mat-expansion-panel>

            </mat-accordion>
          </mat-card-content>
        </mat-card>

      </div>

      <div class="col-6">

        <mat-card>
          <mat-card-title>
            Educational Qualificaiton
          </mat-card-title>
          <mat-card-content>


            <mat-accordion *ngIf="profile?.qualifications">
              <mat-expansion-panel *ngFor="let qa of profile?.qualifications; let i=index;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{qa?.degree}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{i+1}}
                  </mat-panel-description>

                </mat-expansion-panel-header>
                <!-- {{ | json}} -->
                <h3 *ngIf="qa?.degree">Degree title : {{qa?.degree}}</h3>
                <h3 *ngIf="qa?.subject">Subject: {{qa?.subject}}</h3>
                <h3 *ngIf="qa?.university">Subject: {{qa?.university}}</h3>

              </mat-expansion-panel>

            </mat-accordion>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>
            Medical Information
          </mat-card-title>
          <mat-card-content>
            <h3> Sexual orientation: {{profile?.sexualOrientation}} </h3>
            <h3> Living Status: {{profile?.livingStatus}} </h3>
            <h3>Alcohol : {{profile?.alcohol}}</h3>
            <h3> Social History : {{profile?.socialHistory}}</h3>

            <mat-accordion *ngIf="profile?.alergys">
              <mat-expansion-panel *ngFor="let al of profile?.alergys; let i=index;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Alergy
                  </mat-panel-title>
                  <mat-panel-description>
                    Alergy {{i+1}}
                  </mat-panel-description>

                </mat-expansion-panel-header>
                <!-- {{ | json}} -->
                <h3 *ngIf="al?.type">Alergy Type : {{al?.type}}</h3>
                <h3 *ngIf="al?.description">Description: {{al?.description}}</h3>


              </mat-expansion-panel>

            </mat-accordion>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <mat-card>
          <mat-card-title>
            Prescriptions
          </mat-card-title>
          <mat-card-content>

            <mat-accordion>
              <mat-expansion-panel *ngFor="let pr of profile?.prescriptions; let i=index;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Prescriptions
                  </mat-panel-title>
                  <mat-panel-description>
                    {{pr?.currentDate | date}} | {{pr?.currentDate | date:'shortTime'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- {{ | json}} -->

                <mat-list *ngFor="let me of pr?.medicines">
                  <mat-list-item>
                    <table>
                      <tr>
                        <td> Medicine Name : {{me?.name}} </td>
                        <td>Instruction : {{me?.description}}</td>
                      </tr>
                    </table>
                  </mat-list-item>

                </mat-list>
                <br>
                <br>
                <!-- <mat-divider></mat-divider> -->
                <h3 *ngIf="pr?.comments">Doctor Comments: {{pr?.comments}}</h3>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card>
          <mat-card-title>
            Doctors
          </mat-card-title>
          <mat-card-content>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Doctor Id</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doc of profile?.doctors; let i=index">
                  <th scope="row">{{1}}</th>
                  <td>{{doc?.doctorId}}</td>
                  <td>{{doc?.firstName}}</td>
                  <td>{{doc?.lastName}}</td>
                  <td>{{doc?.status}}</td>
                </tr>

              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-card>


  <br>
  <br>
