<br>
<div class="row">
  <!-- <div class="col-4">
    <h1>Filter</h1>
  </div> -->
  <div class="col-10">
    <div class="row justify-content-md-center">
      <form class="example-form" [formGroup]="searchForm">
        <mat-form-field class="example-full-width">
          <input type="search" matInput placeholder="Search" formControlName="search">
        </mat-form-field>
      </form>
    </div>
    <div class="row">
      <div class="loader">
        <app-loading-folding-cube *ngIf="loader"></app-loading-folding-cube>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4"  style="padding:1%;" *ngFor="let doctor of doctors  | paginate: { itemsPerPage: 10, currentPage: p }">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" [ngStyle]="{ 'background-image': 'url(' + doctor?.imageUri + ')'}">
            </div>
            <mat-card-title> {{doctor?.firstName}} {{doctor?.lastName}} </mat-card-title>
            <mat-card-subtitle>{{doctor?.areaOfWork}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p *ngIf="doctor?.summary">
              Profile Summary: {{doctor?.summary}}
            </p>
            <div class="location" *ngFor="let address of doctor?.addresses">
              <div *ngIf="address.addressType==='work'">
                Address: {{address?.street1}} , {{address?.street2}} , {{address?.city}} {{address?.postal}}
                <br> Postal : {{address?.postal}}
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="openDialog(doctor?.userId, doctor?.firstName , doctor?.lastName, doctor?.areaOfWork)">Book Appointment</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
