@import "https://fonts.googleapis.com/css?family=Material+Icons";

html,
body {
  margin: 1%;
  height: 100%;
}

body {
  background: #eee;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root,
md-sidenav-container {
  height: 100%;
}

md-sidenav {
    width: 200px;
    height: 100%;
}

md-card-actions > button {
  margin-bottom: 16px;
}

.content {
  padding: 20px;
  height: 100%;
  background: #eee;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
}

.mat-card {
  margin-bottom: 16px;
}

small .mat-icon {
    width: 12px;
    height: 12px;
}

small .material-icons {
    font-size: 12px;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

