<!-- <div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
<mat-sidenav-container class="mat-typography">
    <mat-sidenav #sidenav>
        <mat-toolbar mode="side" opened="true" color="primary">
            <!--<img src="assets/aiacube-logo.png" alt="" class="img-fluid">--> Digital Medical Passport
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item [routerLink]="['/home']" routerLinkActive="active">
               <mat-icon mat-list-icon>home</mat-icon>
                <a matLine>Home</a>
            </mat-list-item>
            <mat-list-item *ngIf="auth.isAuthenticated()" [routerLink]="['/profile']">
               <mat-icon mat-list-icon>list</mat-icon>
                <a matLine>Profile</a>
            </mat-list-item>
            <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('admin')" [routerLink]="['/admin']">
               <mat-icon mat-list-icon>list</mat-icon>
                <a matLine>Admin</a>
            </mat-list-item>
            <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('user')" [routerLink]="['/patient']">
               <mat-icon mat-list-icon>list</mat-icon>
                <a matLine>Patient</a>
            </mat-list-item>
            <mat-list-item *ngIf="auth.isAuthenticated() && auth.isInRole('doctor')" [routerLink]="['/doctor']">
               <mat-icon mat-list-icon>list</mat-icon>
                <a matLine>Doctor</a>
            </mat-list-item>
            <mat-list-item *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
               <mat-icon mat-list-icon>lock_open</mat-icon>
                <a matLine>Login</a>
            </mat-list-item>
            <mat-list-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
               <mat-icon mat-list-icon>https</mat-icon>
                <a matLine>Logout</a>
            </mat-list-item>
            <!-- <mat-list-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()"  routerLinkActive="active">
              <mat-icon mat-list-icon>login</mat-icon>
              <a matLine >Logout</a>
            </mat-list-item> -->

        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <span>
            <button mat-icon-button (click)="sidenav.open()">
               <mat-icon>menu</mat-icon>
            </button>
        </span>
        <span>
            <h1>Digital Medical Passport  </h1>
        </span>
        
        <span class="example-spacer"></span>
        <button class="example-icon" mat-raised-button color="accent" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
            <mat-icon mat-list-icon>lock_open</mat-icon>
            Login
        </button>
        <button class="example-icon" mat-raised-button color="accent" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
            <mat-icon mat-list-icon>https</mat-icon>
            Logout
        </button>
    </mat-toolbar>
    <div class="content">
        <div class='container-fluid'>
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</mat-sidenav-container>