<div class="row">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="spacer"></div>

      <button mat-raised-button color="accent" routerLink="/doctor/details" style="margin:2px;">
        <mat-icon>dashboard</mat-icon> Medical Profile</button>
      <button mat-raised-button color="accent" routerLink="/doctor/dashboard" style="margin:2px;">
        <mat-icon>view_column</mat-icon> Dashboard</button>
      <button mat-raised-button color="accent" style="margin:2px;" routerLink="/doctor/booking">
        <mat-icon>contacts</mat-icon> Appointments</button>
      <button mat-raised-button color="accent" style="margin:2px;" routerLink="/doctor/view-schedual">
        <mat-icon>contacts</mat-icon> View Schedual</button>
    </mat-toolbar-row>
  </mat-toolbar>

</div>
<br>
<br>
<mat-card>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Status</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody *ngFor="let req of requests?.requests; let i=index;">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{req.requestId}}</td>
          <td>{{req.firstName}}</td>
          <td>{{req.lastName}}</td>
          <td>{{req.authorization}}</td>
          <td>
            <div *ngIf="req?.authorization">

              <button mat-raised-button color="accent" (click)="unauthorize(i)"> Un Authorize</button>
            </div>
            <div *ngIf="!req?.authorization">

              <button mat-raised-button color="primary" (click)="authorize(i,req?.requestId,req?.firstName,req?.lastName)"> Authorize</button>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</mat-card>
