<br><br><br>
<div class="row">
  <div class="col-3">
    <img src="assets/digital-medical-passport-logo.png" alt="" class="img-fluid">
  </div>
  <div class="col-3">
    <p>Feature </p>

  </div>
  <div class="col-3">
    <p>Upcomming feature</p>
  </div>

  <div class="col-3">
    <p> Contacts</p>
  </div>
</div>
<br>
<br>
<br>
