<div class="row">

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="spacer"></div>

        <button mat-raised-button color="accent" routerLink="/doctor/details" style="margin:2px;">
          <mat-icon>dashboard</mat-icon> Medical Profile</button>
        <button mat-raised-button color="accent" routerLink="/doctor/access-requests" style="margin:2px;">
          <mat-icon>view_column</mat-icon> Access Request List</button>
        <button mat-raised-button color="accent" style="margin:2px;" routerLink="/doctor/booking">
          <mat-icon>contacts</mat-icon> Appointments</button>
        <button mat-raised-button color="accent" style="margin:2px;" routerLink="/doctor/view-schedual">
          <mat-icon>contacts</mat-icon> View Schedual</button>
      </mat-toolbar-row>
    </mat-toolbar>

  </div>
<br><br>
<div class="table-container mat-elevation-z8">
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort class="animate">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client.id }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First Name </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client.firstName }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client.lastName }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client.email }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="bookingdate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Booking Date </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client.bookingDate | date }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="bookingtime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Booking Time </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client.bookingDate | date:'shortTime' }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="detail">
      <mat-header-cell *matHeaderCellDef> #</mat-header-cell>
      <mat-cell *matCellDef="let client">
        <button mat-raised-button color="primary" (click)="sendRequest(client?.id, client?.firstName, client?.lastName)">
          <mat-icon mat-list-icon> open_in_new</mat-icon>
          Cancel
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 20, 40, 80,100 ]">
  </mat-paginator>
</div>
