:host {
  display: block;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 700px;
}


.table-container{
  display: flex;
  flex-direction: column;
  min-width: 300px
}


.table-header
{
  min-height: 64px;
  padding: 8px 24px 0
}


.mat-form-field{
  font-size: 14px;
  width: 100%;
}


.mat-table{
  overflow: auto
}


.mat-accent{
  margin-bottom: 10px
}


/* @-webkit-keyframes fadeIt
0%
  background-color: #FFFFFF

50%
  background-color: #98FB98

100%
  background-color: #FFFFFF

*/
.animate{
background-image: none !important;
animation: fadeIt 1s ease-in-out ;
}

.spacer {
  flex: 1 1 auto;
}
