<form [formGroup]="bookingForm">
  <mat-form-field>
    <input matInput placeholder=" Enter First Name" formControlName="firstName">
    <mat-error *ngIf="bookingForm.controls.firstName.invalid &&  bookingForm.controls.firstName.touched ">Please Enter First Name </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder=" Enter last Name" formControlName="lastName">
    <mat-error *ngIf="bookingForm.controls.lastName.invalid &&  bookingForm.controls.lastName.touched ">Please Last Name </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder=" Enter email" formControlName="email">
    <mat-error *ngIf="bookingForm.controls.email.invalid &&  bookingForm.controls.email.touched ">Please Enter email </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" placeholder="Choose a date" formControlName="bookingDate">

  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder=" Enter Booking Time" [matAutocomplete]="auto" formControlName="bookingTime">
    <mat-error *ngIf="bookingForm.controls.bookingTime.invalid &&  bookingForm.controls.bookingTime.touched ">Please Enter email </mat-error>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option.time">
        {{option.time}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder=" Enter Reason" formControlName="reason"></textarea>
    <mat-error *ngIf="bookingForm.controls.reason.invalid &&  bookingForm.controls.reason.touched ">Please Enter Reason </mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial (click)="save()">Submit</button>
  </div>
</form>
