<div class="row">
  <div style="padding:2%">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100  img-fluid" src="assets/image1.jpg" alt="First slide" style="width:100%; height:100%">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img-fluid" src="assets/image7.jpg" alt="Second slide" style="width:100%; height:100%">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img-fluid " src="assets/image3.jpg" alt="Third slide" style="width:100%; height:100%">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <br>
    <div class="jumbotron">
      <h1 class="display-3">Welcome to Your Virtual Health System</h1>
      <p class="lead">Digital Medical Passport is system to transform the health system management accross the world</p>
      <hr class="my-4">
      <p>Using Digital Medical Passport you can manage your health data. Meet doctor around the world without carying your medical
        history with you. As a result doctor can make dicission based on current medical condition and previous medical history.
        Which will improve treatment quality and save lives
      </p>
      <!-- <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p> -->
    </div>
  </div>


</div>

<div class="row">
  <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Patient Registration System</h2>
            <p> Its time to take over your helth record. Digital Medical Passport allows patients to access their data. You will be control your medical data who can see or not. </p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Find Doctor Instantly</h2>
            <p>Digital Medical Passport has advanced search engine to find doctor in you nearst location. Once you find the doctor you will be able to make an appointment with doctor if doctor has solt open.</p>
            <p><a class="btn btn-secondary" routerLink="/core/doctor-list" role="button">Click Here &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Doctor System</h2>
            <p>Doctor no need a hospital to view and manage his patients. Digital medical passport system will allow doctor to view patinet profile if authorised by patient anytime. The system supports video conferencing so that doctor and patient make a video chat and make the necessary decession</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Advanced Data Anlytics <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead"> This system supprt advanced medical data anylytics. It  finds the minors medical detials and will notify your active doctor</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="assets/ai1.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Mange your IOT devices <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">System provides functionlity add all your medical IOT devices. By centralizing patients IOT devicess doctor will be able to have a quci look on all medical data. Without navigating to each device data manually..</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="assets/ai2.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Business Analytics for doctor </h2>
            <p class="lead">Doctors dont need a business manager any more.Digital medical passprot producess all business analytics for doctor including business detials</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="assets/ap1.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
</div>
